<div class="container mt-5">
  <div class="text-center bg-light p-5 rounded shadow-lg">
    <h1 class="display-4 text-primary fw-bold mb-4">
      Bienvenue sur notre application web de gestion de factures 💻✔️
    </h1>
    <p class="lead text-secondary">
      Cette application innovante, développée avec
      <span class="text-info fw-bold">Angular 🚀</span>, simplifie la gestion de
      vos factures et bien plus encore.
    </p>
    <p class="text-muted">
      Explorez notre interface intuitive pour découvrir toutes les
      fonctionnalités disponibles ✨.
    </p>
    <div class="mt-4">
      <a
        href="/add-facture"
        class="btn btn-lg btn-primary rounded-pill shadow-lg px-5 py-3 text-uppercase"
      >
        ➕ Ajouter une Facture
      </a>
    </div>
  </div>
</div>
