<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 text-primary">
      Bienvenue sur notre gestionaire de factures ✔️
    </h1>
    <p class="lead">
      Nous vous proposons des solutions innovantes pour la gestion de vos
      factures et plus encore.
    </p>
    <p>
      Explorez notre site pour découvrir toutes les fonctionnalités disponibles.
    </p>
    <div class="mt-4">
      <a
        href="/add-facture"
        class="btn btn-lg btn-primary rounded-pill shadow-lg"
      >
        Ajouter une Facture
      </a>
    </div>
  </div>
</div>
